.subtotal{
    width: 320px;
    height: 200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.green{
    color: green;
}

.subtotal-amount{
    font-size: 20px;
}


.btn-checkout{
    background-color: rgb(234, 234, 7);
    border: 0;
    width: 220px;
    height: 46px;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s;
}
.btn-checkout:hover{
    background-color: rgb(200, 200, 7);
}
.btn-disabled{
    background-color: lightgray;
    cursor:not-allowed;
}
.btn-disabled:hover{
    background-color: rgb(178, 175, 175);
}